:root {
  --radius: 3px;
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
}

.floating-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 60px;
  z-index: 10;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-transform: uppercase;

  width: 128px;
  height: 60px;
  border-radius: 30px;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
}

.floating-button > i {
  margin-right: 6px;
}

._prevent-selection {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
