:root {
  --radius: 3px;
}

.header-section {
  margin-bottom: 2rem;
}

.header {
  font-size: 21px;
  text-align: center;
  margin: 0;
}

.version-sub-header {
  font-size: 11px;
  text-align: center;
  margin-top: 4px;
  opacity: 0.64;
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
}

.floating-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 60px;
  z-index: 10;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-transform: uppercase;

  width: 128px;
  height: 60px;
  border-radius: 30px;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
}

.floating-button > i {
  margin-right: 6px;
}

._prevent-selection {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
